.venv/
lib/
lib64
bin/
mrqadb/habit_DATE*
sphinx/_autosummary/
docs/
db.*
db/
.lint
.test
build.log
__pycache__/
pyvenv.cfg
share/
templates.tsv
.test.*
*.sw[op]
creds/
log/
*.toml
!config/reporting.toml
*.html
*.jsonl
dist/
logs/
uv.lock
.pytest_cache/
.python-version
*.202*-*/ # backup files
.*idea*
studies.xlsx
mrqart/._*
