html {
  /*max-width: 70ch;*/
  padding: 1em 2em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

.conform { background: lightgreen; }
.no-conform { background: pink; }

li {
  margin: 1em 0 1em 0; /* top and bottom padding */
  list-style: none;
}
details>table {font-size: smaller;}
td.no-conform { background: red}
th.no-conform { background: red}
td.conform { background: gray; font-size: .5em;}
th.conform { background: lightgreen; font-size: .5em;}
.projname {font-size:smaller;}
.seqname {font-weight:bold;}
.seqnum { font-family: mono; color: gray;}
.seqnum::before { content: "#";}
